snippet ipp
improper point group
endsnippet

snippet ppp
proper point group
endsnippet

snippet pr
proper rotation
endsnippet

snippet ir
irreducible representation
endsnippet

snippet fg
finite group
endsnippet

snippet sc
self-conjugate
endsnippet

snippet fact
\begin{fact}
$1
\end{fact}
endsnippet

snippet cc
conjugacy class
endsnippet