snippet tps
topological space
endsnippet

snippet ti
topological insulator
endsnippet

snippet tsc
topological superconductor
endsnippet

snippet tr
time-reversal
endsnippet

snippet sproct
symmetry-protected
endsnippet

snippet tphase
topological phase
endsnippet

snippet sclass
symmetry class
endsnippet

snippet tinv
topological invariant
endsnippet